<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>
<a class="" href="/">HOME</a>
<ul class="">
  <li class="">
    <a class="" href="/signup">회원 가입</a>
  </li>
  <li class="">
    <a class="" href="/login">로그인</a>
  </li>
  <li class="">
    <a class="" href="/signout">로그아웃</a>
  </li>
</ul>
</body>
</html>