<!DOCTYPE html>
<html>
<head>
  <% include ./stylesheet/stylesheet %>
  <title>시세 확인</title>
</head>
<body>
  <% include header %>
  <div class="container">
    <div class="button">
      시세 정보 확인
      <%# render info %>
    </div>
  </div>
</body>
</html>
