<!DOCTYPE html>
<html>
<head>
  <% include ./stylesheet/stylesheet %>
</head>
<body>
  <% include header %>
  <div class="container">
    <h1><%= title %></h1>
    <div class="button">
      asdfalsdjfk
    </div>
  </div>
</body>
</html>
