<!DOCTYPE html>
<html>
<head>
  <% include ./StyleSheet/stylesheet %>
</head>
<body>
  <% include header %>
  <% if (message.length > 0) { %>
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Ohps!</strong> <%= message %>
    </div>
  <% } %>
  <div class="container">
    <form action="/signup" method="post">
      <h2><%= header %></h2>
      <p>
        <label>이메일</label>
        <input type="email" id="email" name="email" class="form-control box-margin" placeholder="이메일 주소" required="">
      </p>
      <p>
        <label>비밀번호</label>
        <input type="password" id="password" name="password" class="form-control box-margin" placeholder="비밀번호" required="">
      </p>
      <button class="btn btn-lg btn-primary btn-block  box-margin" type="submit">회원가입</button>
      <br>
    </form>
  </div>
</body>
</html>
